* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aquamarine;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    /* width: 100vw; */
}

#calculator {
    margin: auto;
    max-width: 80vw;
    background-color: #33333355;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
}